<br>

<div class="container-fluid" style="height:30%">
  <div class="row justify-content-center" style="position:relative; bottom:35px; width: 100%; margin: auto; padding-bottom:25px; background-color: #8c1d40">
    <% getWeekDays.each_with_index do |date, index|%>
    <button onclick="Panel1(<%=index%>,'#900C3F')" class="btn btn-primary-week weekBtn" style="border-color: #ffffff;border-width: thin; width: 12%; min-width: 90px; overflow: hidden">
      <%=date.strftime("%A")%><br><%= date.month%><%= "/" %><%= date.day %>
    </button>
    <%end%>
  </div>
</div>
<br>
<% getWeekDays.each do |date|%>
  <div class="weekDays">
    <%= render eventPartial, currentDate: date%>
  </div>

<%end%>

<script>
  function Panel1 (panelIndex) {
    var tabButtons=document.querySelectorAll(".weekBtn");
    var tabPanels=document.querySelectorAll(".weekDays");

    tabPanels.forEach(function(node) {
      node.style.display="none";
    });
    tabPanels[panelIndex].style.display="block";
  }
  Panel1(0);
</script>
